.post-item__edit {
  display: flex;
  flex-direction: row;
  .item__specs {
    display: flex;
    flex-direction: column;
  }
  .item__description {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .edit-img {
    .img-preview {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      img {
        max-width: 220px;
        width: 100%;
      }
    }
  }
}
