nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #00503c;
  z-index: 10;
  ul {
    width: 80%;
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 1rem;
    }
  }
}
