@import "../../variables.scss";

nav {
  height: 80%;
  .title {
    display: flex;
    width: 40%;
    align-items: center;
    max-height: 40px;
    max-width: 250px;
    img {
      border-radius: 10px;
      width: 95%;
      height: 90%;
      // height:0%;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #00503c;
  z-index: 10;
  ul {
    width: 80%;
    a {
      text-decoration: none;
      color: white;
    }

    font-size: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    li {
      // margin-left: 1.2rem;
      padding: 0.4rem;
      button {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  nav {
    ul {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: $breakpoint-pc) {
  nav {
    ul {
      // width: 80%;
      li {
        width: 14%;
        text-align: center;
      }
    }
  }
}
